.wy-side-nav-search {
    background-color:white
}

.wy-nav-content {
    max-width: 1000px !important;
}

.red {
    color:red;
}

.blue {
    color:blue;
}

.hblue {
    color:blue;
    background-color:lightyellow;
    font-size: 90%;
}

.orange {
    color:darkorange;
    font-size: 90%;
}

.green {
    color:green;
}
